* {
    margin: 0px;
    padding: 0px;
  }
  table {
    border-collapse: collapse;
  }
  th,td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }
  
  tr:nth-child(odd) {
    background-color: red;
  }
  
  th {
    background-color: black;
    color: white;
  }
  .container {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "a a b b b b"
      "a a c c d d"
      "a a e f d d";
  }
  header {
    background-color: red;
    grid-area: a;
  }
  nav {
    background-color: lime;
    grid-area: b;
  }
  main {
    background-color: lightblue;
    grid-area: c;
  }
  aside {
    background-color: yellow;
    grid-area: e;

  }
  div {
    background-color: yellow;
    grid-area: f;

  }
  footer {
    background-color: orange;
    grid-area: d;
  }
