* {
  margin: 0px;
  padding: 0px;
}
table {
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: red;
}

th {
  background-color: black;
  color: white;
}
.odnosniki {
  background-color: black;
  box-shadow: 0 5px 0 red;
  color: white;
  margin-top: 30px;
  padding: 20px 50px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
}
.container {
  background-color: rgb(50, 117, 205);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b d"
    "a c d"
    "a e d";
}
header {
  background-color: red;
  grid-area: a;
}
nav {
  background-color: lime;
  grid-area: b;
}
main {
  background-color: lightblue;
  grid-area: c;
}
aside {
  background-color: yellow;
  grid-area: e;
}
footer {
  background-color: orange;
  grid-area: d;
}
