.tltle {
  color: blue;
} */

h1 {
  color: pink;
} 
.container {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 100px;
  margin: 10px;
}

.colorRed {
  background-color: red;
   width: 20%;
}

.colorBlue {
  background-color: lightblue;
   width: 20%; 
}

.colorGreen {
  background-color: lightgreen;
   width: 20%; 
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  background-color: lightcoral;
  padding: 10px;
}

.item_link {
  margin-top: 25px;
}
